<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ACMS{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Menu</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/links_tags">Links e Tags</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
